@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

html, body {
    padding: 0px; margin: 0px;
}
body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}

